<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight List</title>
</head>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			url : "/spring-thymeleaf/js",
		});
	});
</script>
<body>
<h1>Flight List</h1>
<div>
    <p>
        <a th:href="@{/flight/insert}">Insert flight</a>
    </p>
    <p>
        <a th:href="@{/flight/update}">Update flight</a>
    </p>
</div>

<h3>Filter by Departure time</h3>
<form action="#" th:action="@{/flight/get/interval}" method="get">
    <input type="text" th:name="startTime" th:placeholder="From" />
    <input type="text" th:name="endTime" th:placeholder="To" />
    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Flight code</th>
        <th>Departure time</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight: ${flights}">
        <td th:text="${flight.id}" />
        <td th:text="${flight.code}" />
        <td th:text="${flight.departureTime}" />
        <td>
            <form action="#" th:action="@{/flight/delete/} + ${{flight.id}}" method="post">
                <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>